#--------------------------------------------------------------
# This file is managed by Juju; ANY CHANGES WILL BE OVERWRITTEN
#--------------------------------------------------------------

{{env_var1}} = '{{env_val1}}'
{{env_var2}} = '{{env_val2}}'
{{env_var3}} = '{{env_val3}}'
